.header {
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 40.6px 0px;
    max-width: 882px;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .header {
        margin: 28px 0px 0px 0px;
        padding: 0px 0px 31.6px 0px;
    }
}