.popup__input {
    margin: 54px 0px 0px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    padding: 0px 0px 13px 0px;
}

.popup__input:focus {
    outline: none;
}

@media screen and (max-width: 620px) {
    .popup__input {
        width: 238px;
    }
}