.profile {
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .profile {
        padding: 0px 20px;
        margin: 40px 40px 0px 40px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }
}