.card__element {
    max-width: 282px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 450px) {
    .card__element {
        width: 282px;
    }
}