.profile__info {
    margin: 0px 0px 0px 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin: 10px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}